@font-face {
    font-family: "DINNextLTPro-Black";
    src: url("../font/DINNextLTPro-Black.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-Bold";
    src: url("../font/DINNextLTPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-BoldItalic";
    src: url("../font/DINNextLTPro-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-Light";
    src: url("../font/DINNextLTPro-Light.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-Regular";
    src: url("../font/DINNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-UltraLight";
    src: url("../font/DINNextLTPro-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: "FrutigerLTStd-Bold";
    src: url("../font/FrutigerLTStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-Italic";
    src: url("../font/DINNextLTPro-Italic.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-LightItalic";
    src: url("../font/DINNextLTPro-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: "DINNextLTPro-MediumItalic";
    src: url("../font/DINNextLTPro-MediumItalic.otf") format("opentype");
}

body {
	margin: 0;
	font-family: verdana;
	color: #FFF;
}

div {
	display: inline-block;
}

a {
	text-decoration: none;
	color: #FFF;
}

sup {
	font-size: 0.5em;
}

#bigBox {
	width: 100%;
	height: auto;
	min-width: 960px;
}

#menuHead {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #FFF;
	z-index: 2;
}

#menuInterior {
	width: 960px;
	height: inherit;
}

#botonMenu {
	padding-left: 102px;
	padding-top: 5px;
	font-size: 17px;
}

#contenedorBox {
	margin-top: 50px;
	width: inherit;
	height: auto;
}

#textoSliderBox {
	margin-left: 105px;
	letter-spacing: 1.4px;
}

#textoSliderBoxTitulo {
	margin-top: 93px;
}

#textoSliderBoxSubTitulo {
	font-size: 27px;
	margin-left: 49px;
	font-family: 'DINNextLTPro-Light'
}

.cabecera {
	width: 100%;
}

.home {
	position: fixed;
	top: 0px;
	background: #05DDAD;
}

.galleria { 
	width: 1277px; 
		height: 425px; 
	background: #000; 
}

.sliderBox {
	height: 425px;
	width: 100%;
	background: url("../img/slide.jpg");
	background-position: center;
}

.logo {
	float: left;
}

.dentroMenu {
	padding-top: 10px;
}

.boton {
	margin-right: 17px;
	color: #FFF;
	width: auto;
	font-family: DINNextLTPro-Regular;
	font-size: 14pt;
	letter-spacing: 1px
}

.activo {
	border-bottom: 4px solid #FFF;
}

.info {
	background: url('../img/bg_menu.png');
	font-size: 24px;
	box-shadow: 0px 4px 20px -2px #000;
}

#menuInterior span {
	position: relative;
	top: 10px;
	font-family: FrutigerLTStd-Bold;
	letter-spacing: 2px;
}

.green {
	background: #00C99C;
}

.greenLight {
	background: #05DDAD;
}

.infoBox {
	width: 25%;
	height: 322px;
	float: left;
	text-align: center;
}

.imagen {
	width: 100%;
	height: 171px;
}

.infoTexto {
	margin-top: 26px;
	font-family: DINNextLTPro-Light;
	font-size: 25px;
}

.plusBox {
	margin-top: 10px;
	width: 33px;
	height: 33px;
	border: 3px solid #FFF;
	border-radius: 20px;
}
.plusBox span {
	position: relative;
	top: -9px;
	font-size: 38px;
}

.underPlusBox {
	margin-top: 11px;
	font-size: 13px;
	font-family: DINNextLTPro-Bold;
	letter-spacing: 1px;
}

.cajaSocial {
	height: 436px;
	width: 50%;
	float: left;
	background: url('../img/bg_menu.png');
	text-align: center;
}

.footerBox {
	width: inherit;
	height: 256px;
	background: #05D2A4;
	text-align: center;
	width: 100%;
}

.footerInteriorBox {
	height: 195px;
	width: 92%;
	margin-top: 30px;
	border-top: 1px solid #DEF9F3;
	border-bottom: 1px solid #DEF9F3;
	font-family: DINNextLTPro-Light;
	letter-spacing: 1px;
}

.footerText {
	height: 136px;
	width: 50%;
	vertical-align: middle;
	float: left;
	margin-top: 59px;
}

.alineaL {
	text-align: left;
}

.footerText span {
	text-decoration: underline;
}

.redes {
	font-size: 14px;
}

.logoSocial {
	position: relative;
	width: 452px;
	height: 232px;
	margin-top: 94px;
}
.logoSocial div {
	margin-top: 15px;
	font-family: DINNextLTPro-UltraLight;
	letter-spacing: 1px;
	font-size: 35px;
}

.caja1 {
	background: url('../img/img_1.jpg');
	background-position: center;
}

.caja2 {
	background: url('../img/img_2.jpg');
	background-position: center;
}

.caja3 {
	background: url('../img/img_3.jpg');
	background-position: center;
}

.caja4 {
	background: url('../img/img_4.jpg');
	background-position: center;
}

.fbBox {
	background: url('../img/bg_fb.jpg');
	background-position: center;
}

.twBox {
	background: url('../img/bg_tw.jpg');
	background-position: center;
}

.sharpText {
	width: 441px;
	height: auto;
	text-align: justify;
}

.landingInfoBox {
	width: 100%;
	height: 679px;
	text-align: center;
	background: url("../img/fondo-1.jpg");
	background-position: center;
}

.landingCiertoBox {
	width: 100%;
	height: 675px;
	background: url("../img/fondo-2.jpg");
	background-position: center;
}

.landingRegimenBox {
	width: 100%;
	height: 678px;
	background: url("../img/fondo-3.jpg");
	background-position: center;
}

.landingConsultaBox {
	width: 100%;
	height: 662px;
	text-align: center;
	background: url("../img/fondo-4.jpg");
	background-position: center;
}

.infoFooter {
	width: 80%;
	height: auto;
	font-size: 12px;
}

.infoFooter h2 {
	font-weight: 100;
}

.sabiasIntBox {
	width: 690px;
	height: 356px;
	font-family: DINNextLTPro-Regular;
}

.sabiasTitulo {
	margin-top: 135px;
	font-family: DINNextLTPro-BoldItalic;
	font-size: 105px;
}

.corchete {
	font-size: 101px;
}

.sabiasSubTitulo {
	width: auto;
	margin-top: 25px;
}

.sabiasSubTituloTexto {
	width: 510px;
	font-size: 25px;
	margin-top: 26px;
}

.sabiasSubTitulo div {
	float: left;
}

.sabiasSubTitulo2 {
	width: inherit;
	text-align: center;
	font-size: 48px;
}

.sabiasSubTitluoAmarillo {
	width: 390px;
	color: #CDD73C;
	margin-top: 15px;
	font-size: 16px;
}

.ciertoEncBox {
	width: inherit;
	height: 95px;
	text-align: center;
	font-size: 60px;
	font-family: DINNextLTPro-Bold;
	padding-top: 33px;
}

.ciertoYellowBox {
	width: inherit;
	height: 221px;
	background: #E4D508;
}

.ciertoYellowIntBox {
	width: 95%;
	margin-top: 36px;
	height: 182px;
	float: right;
}

.ciertoYellowIntSeparadorBox {
	width: 20%;
	height: inherit;
	float: left;
}

.barraBlanca {
	height: 10px;
	width: 30%;
	background: #FFF;
	margin-right: 70%;
}

.ciertoYellowIntTextoBox {
	width: 87%;
	font-size: 18px;
	margin-top: 23px;
	font-family: DINNextLTPro-Light;
}

.mujeresBox {
	width: 100%;
	height: 326px;
	text-align: center;
	font-family: DINNextLTPro-Regular;
}

.mujeresEncBox {
	width: 695px;
	margin-top: 13px;
}

.mujeresBox img {
	float: left;
	margin-top: 7px;
}

.mujeresTextoEncBox {
	float: left;
	width: 212px;
}

.mujeresTextoSupEncBox span {
	font-size: 46px;
}

.mujeresTextoInfEncBox {
	width: 138px;
	text-align: left;
	float: left;
	font-size: 16px;
	margin-left: 39px;
}

.mujeresWhiteBox {
	width: 909px;
	height: 114px;
	border: 4px solid #FFF;
	border-radius: 10px;
	margin-top: 30px;
	font-family: DINNextLTPro-LightItalic;
}

.mujeresWhiteIntBox {
	width: 833px;
	height: 77px;
	margin-top: 22px;
	margin-left: 51px;
	text-align: left;
	font-size: 22px;
}

.mujeresWhiteIntIBox {
	height: inherit;
	width: 355px;
	float: left;
}

.mujeresWhiteIntBox span {
	font-family: DINNextLTPro-Italic;
	color: #E4D508
}

.mujeresWhiteIntDBox {
	height: inherit;
	width: 402px;
	margin-left: 55px; 
}

.regimenFirstBox {
	width: 100%;
	height: 222px;
	text-align: center;
	color: #FCEB00;
}

.regimenSecondBox {
	width: 100%;
	height: 255px;
	border-top: 4px solid #FCEB00;
	border-bottom: 4px solid #FCEB00;
	color: #FCEB00;
}

.regimenThirdBox {
	width: 100%;
	height: 247px;
	text-align: center;
}

.regimenType {
	font-family: DINNextLTPro-MediumItalic;
	margin-top: 50px;
	font-size: 22px;
	letter-spacing: 1px;
}

.corcheteSabias {
	font-size: 119px;
}

.regimenYellowBox {
	height: 164px;
}

.regimenSeparadorBox {
	width: 25%;
}

.golden {
	background: #FCEB00;
}

.regimenTerIntBox {
	width: 879px;
	height: 154px;
	margin-top: 17px;
	text-align: left;
}

.regimenTerIntIBox {
	width: 224px;
	height: 100%;
	border-right: 4px solid #FFF;
	float: left;
}

.regimenTerIntTextIBox {
	width: 224px;
	height: 69px;
	margin-top: 49px;
	font-family: DINNextLTPro-MediumItalic;
	font-size: 21px;
}

.regimenTerIntDBox {
	width: 558px;
	margin-left: 33px;
	margin-top: 10px;
	font-family: DINNextLTPro-Light;
	font-size: 18px;
}


.regimenTerIntDBox span {
	font-family: DINNextLTPro-MediumItalic;
}

.regimenTerIntTextIBox span {
	font-family: DINNextLTPro-Italic;
}

.consultaIntBox {
	width: 100%;
	height: 631px;
	margin-top: 46px;
}

.consultaBoxSec1 {
	width: 100%;
	height: 104px;
	font-family: DINNextLTPro-Light;
}

.consultaBoxSec2 {
	margin-top: 38px;
	width: 100%;
	height: 286px;
}

.consultaBoxSec3 {
	margin-top: 34px;
	width: 100%;
	height: 132px;
	font-size: 52px;
}

.consultaSec1Text1 {
	width: 100%;
	font-size: 68px;
	line-height: 1;
}

.consultaSec1Text1 span {
	font-family: DINNextLTPro-Bold;
}

.consultaSec1Text2 {
	width: 100%;
	font-size: 34px;
}

.consultaSec3Text1 {
	width: 100%;
	font-family: DINNextLTPro-LightItalic;
}

.consultaSec3Text1 span {
	font-family: DINNextLTPro-MediumItalic;
}

.consultaWhiteBar {
	height: 8px;
	width: 86px;
	background: #FFF;
}

.circuloBox {
	width: 25%;
	height: 287px;
	text-align: center;
	float: left;
	font-family: DINNextLTPro-Light;
	color: #49B8F6;
}

.circuloCapaSup {
	position: absolute;
	margin-left: 95px;
	width: 48px;
	height: 48px;
	border: 8px solid #FFF;
	background: #24CCC1;
	color: #FFF;
	border-radius: 48px;
}

.circuloCapaInf {
	width: 258px;
	height: 258px;
	margin-top: 31px;
	background: #FFF;
	border-radius: 258px;
}

.circuloCapaSup div {
	margin-top: 4px;
	font-size: 40px;
}

.circuloCapaInf div {
	width: 216px;
	height: 216px;
	margin-top: 72px;
	font-size: 18px;
}

.circFour div {
	font-family: DINNextLTPro-Regular;
	color: #26CDA4;
	text-align: left;
	font-size: 14px;
	width: 218px;
	margin-left: 18px;
	line-height: 1.6;
}

/*@media only screen and (min-width: 569px) {
	.home {
		position: fixed;
	}
}*/

@media only screen and (min-width: 320px) and (max-width: 568px) { 
	.home {
		position: relative;
	}

	#menuHead {
		height: auto;
		min-height: 50px;
	}

	#botonMenu {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0px;
	}

	.logo {
		float: none;
	}

	div {
		display: ;
	}

	.sliderBox {
		background: url("../img/slide.jpg") no-repeat center;
	}

	.infoBox {
		float: none;
		width: 100%;
		height: auto;
	}

	.plusBox {
		margin: 10px auto;
	}

	.underPlusBox {
		padding-bottom: 20px;
	}

	.boton {
		min-width: 320px;
		max-width: 568px;
		font-size: 28pt;
	}

	.activo {
		border: 0px;
	}

	#contenedorBox {
		margin-top: 0px;
	}

	.logoSocial {
		width: auto;
	}

	#menuInterior {
		width: auto;
		max-width: 568px;
		height: auto;
	}

	#bigBox {
		min-width: 320px;
		max-width: 568px;
		width: auto;
	}

	.cajaSocial {
		float: none;
		width: 100%;
	}

	.circuloBox {
		width: auto;
		float: none;
		margin-bottom: 20px;
	}

	.sabiasIntBox {
		width: auto;
		margin-bottom: 45px;
		margin-bottom: 45px;
	}

	.sabiasTitulo {
		font-size: 45px;
		margin-top: 22px;
	}

	.sabiasSubTituloTexto {
		width: 280px;
	}

	.landingInfoBox {
		height: auto;
	}

	.ciertoYellowBox {
		height: auto;
	}

	.ciertoYellowIntBox {
		height: auto;
		float: none;
	}

	.ciertoYellowIntSeparadorBox {
		width: 100%;
		margin-left: 17px;
		margin-bottom: 20px;
	}

	.ciertoYellowIntTextoBox {
		margin-top: 5px;
		width: 100%;
	}

	.mujeresEncBox {
		width: auto;
		font-size: 30px;
	}

	.mujeresBox img {
		width: 320px;
		float: none;
	} 

	.landingCiertoBox {
		height: auto;
	}

	.mujeresTextoEncBox {
		float: none;
		min-width: 320px;
		max-width: 568px;
	}

	.mujeresWhiteBox {
		width: auto;
		height: auto;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px
	}

	.mujeresBox {
		height: auto;
	}

	.mujeresWhiteIntBox {
		width: auto;
		height: auto;
		margin: 10px;
	}

	.mujeresWhiteIntIBox {
		width: auto;
		float: none;
	}

	.mujeresWhiteIntDBox {
		width: auto;
		height: auto;
		margin-left: 0px;
	}

	.regimenTerIntBox {
		width: auto;
		height: auto;
		margin-top: 0px;
		text-align: center;
	}

	.regimenType {
		margin-top: 42px;
	}

	.regimenSecondBox {
		height: auto;
	}

	.landingRegimenBox {
		height: auto;
	}

	.regimenThirdBox {
		height: auto;
	}

	.regimenTerIntDBox {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.landingConsultaBox {
		height: auto;
	}

	.regimenTerIntTextIBox {
		height: auto;
		margin-top: 20px;
	}

	.regimenTerIntIBox {
		border: 0px;
		float: none;
	}

	.mujeresTextoSupEncBox span {
		font-size: 120px;
	}

	.mujeresTextoInfEncBox {
		font-size: 25px;
		width: auto;
		text-align: center;
		float: none;
		margin-left: 0px;
	}

	.regimenFirstBox {
		height: 177px;
	}

	.consultaBoxSec2 {
		height: auto;
	}

	.footerBox {
		height: auto;
	}

	.footerInteriorBox {
		height: auto;
		margin-bottom: 30px;
	}

	.consultaBoxSec1 {
		height: auto;
	}

	.consultaIntBox {
		height: auto;
	}

	.consultaBoxSec3 {
		height: auto;
	}
}